.top-head {
  display: flex;
  background: #3c8dbc;
  color: white;
  font-size: 32px;
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
}
.wrapper {
  display: flex;
}
.ham {
  display: flex;
  align-items: center;
}

.logo-text {
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 8%;
}
.int-wrap {
  display: flex;
}
.logo-img {
  display: flex;
  justify-content: center;
  background: #367fa9;
  padding-top: 0.4%;
  width: 220px;
}

.logo-img > img {
  width: 200px;
}

.sidebar {
  width: 220px;
  background-color: #f9f9f9;
  color: #555555;
  transition: transform 0.3s ease;
  font-size: 14px;
  font-weight: 500;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 12px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.sidebar ul li:hover {
  background: white;
}

.sidebar ul li a {
  color: #555555;
  text-decoration: none;
  display: block;
}

.content {
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.toggle-btn {
  font-size: 32px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
  }
}

/*560 and 991 and 1200*/

@media (max-width: 560px) {
  .top-head {
    flex-direction: column;
  }
  .logo-img {
    width: 100%;
  }
}

.int-li {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.nav-right-user {
  display: flex;
  float: right;
  font-size: 14px;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  gap: 3%;
  color: rgba(255, 255, 255, 0.8);
}

.user-name {
  font-weight: bold;
  font-size: 16px;
  width: 20%;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
}

.notification-badge {
  position: absolute;
  top: -7px; /* Adjust as necessary */
  right: -13px; /* Adjust as necessary */
  width: 20px; /* Fixed width for the dot */
  height: 20px; /* Fixed height for the dot */
  line-height: 20px; /* Align text vertically */
  border-radius: 50%;
  background-color: #f0ad4e;
  color: white;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 1200px) {
  .nav-right-user {
    display: none;
  }
}
